In [ ]:
'''1. strftime
次のタイムスタンプを "YYYY年MM月DD日 HH時MM分" 形式で表示してください。

timestamp = pd.Timestamp('2023-05-15 14:30:00')'''

import pandas as pd
timestamp = pd.Timestamp('2023-05-15 14:30:00')

# strftimeを使ってフォーマットを指定
formatted_time = timestamp.strftime('%Y年%m月%d日 %H時%M分')
print(formatted_time)

2023年05月15日 14時30分

In [ ]:
'''2. strptime
以下の文字列形式の日付をdatetimeオブジェクトに変換してください。変換にはdatetime.strptimeメソッドを使用してください。

date_string = "2023-04-01 14:30"
変換後、以下の情報を表示してください：

年
月
日
時
分
ヒント：

from datetime import datetimeを使用してdatetimeモジュールをインポートします。 strptimeメソッドの第二引数にフォーマット文字列を指定します。'''
from datetime import datetime


date_string = "2023-04-01 14:30"
date_obj = datetime.strptime(date_string, "%Y-%m-%d %H:%M")

# 各要素を表示
print("年:", date_obj.year)
print("月:", date_obj.month)
print("日:", date_obj.day)
print("時:", date_obj.hour)
print("分:", date_obj.minute)

年: 2023
月: 4
日: 1
時: 14
分: 30

In [ ]:
''' 集計
以下のデータを作成してください。
import pandas as pd
import numpy as np

# サンプルデータの作成
np.random.seed(42)
data = {
    '日付': pd.date_range(start='2023-01-01', end='2023-12-31', freq='D'),
    '商品': np.random.choice(['A', 'B', 'C'], size=365),
    '地域': np.random.choice(['東京', '大阪', '名古屋'], size=365),
    '売上': np.random.randint(1000, 10000, size=365)
}

df = pd.DataFrame(data)

# データの確認
print(df.head())
集計操作をおこない商品と地域ごとの売上の平均、最大値、最小値を計算してください。

'''

import pandas as pd
import numpy as np

np.random.seed(42)
data = {
    '日付': pd.date_range(start='2023-01-01', end='2023-12-31', freq='D'),
    '商品': np.random.choice(['A', 'B', 'C'], size=365),
    '地域': np.random.choice(['東京', '大阪', '名古屋'], size=365),
    '売上': np.random.randint(1000, 10000, size=365)
}

df = pd.DataFrame(data)
print(df.head())

# 商品と地域ごとの売上の平均、最大値、最小値を計算
agg_results = df.groupby(['商品', '地域']).agg(
    売上平均=('売上', 'mean'),
    売上最大=('売上', 'max'),
    売上最小=('売上', 'min')
).reset_index()
print(agg_results)

          日付 商品   地域    売上
0 2023-01-01  C   大阪  8714
1 2023-01-02  A   大阪  4324
2 2023-01-03  C  名古屋  6713
3 2023-01-04  C   大阪  8026
4 2023-01-05  A  名古屋  1255
  商品   地域         売上平均  売上最大  売上最小
0  A  名古屋  5022.236842  9389  1005
1  A   大阪  5590.097561  9702  1009
2  A   東京  5375.468085  9554  1224
3  B  名古屋  5759.088235  9669  1009
4  B   大阪  5453.289474  9427  1249
5  B   東京  5542.775000  9865  1345
6  C  名古屋  6021.529412  9905  1055
7  C   大阪  5770.463415  9989  1232
8  C   東京  5388.423077  9795  1077