In [ ]:
#実践7-1
'''pandas の lambda を使って以下のデータを加工したカラムCを作成してください。
data = {'A': [1, 2, 3, 4, 5],
        'B': [10, 20, 30, 40, 50]}'''

import pandas as pd

data = {'A': [1, 2, 3, 4, 5],
        'B': [10, 20, 30, 40, 50]}

df = pd.DataFrame(data)

df['C'] = df.apply(lambda row: row['A'] + row['B'], axis=1)
print(df)

   A   B   C
0  1  10  11
1  2  20  22
2  3  30  33
3  4  40  44
4  5  50  55

In [ ]:
#実践7-2
'''以下のデータに対してdescribeを実行してください
data = {'A': [1, 2, 3, 4, 5],
      'B': [10, 20, 30, 40, 50]}
続いて、describeを利用せずに各項目の値（平均、標準偏差、最小値、25パーセンタイル、中央値、75パーセンタイル、最大値）を算出してください。'''

import pandas as pd
import numpy as np

data = {'A': [1, 2, 3, 4, 5],
        'B': [10, 20, 30, 40, 50]}

mean_A = df['A'].mean()
std_A = df['A'].std()
min_A = df['A'].min()
percentile_25_A = np.percentile(df['A'], 25)
median_A = df['A'].median()
percentile_75_A = np.percentile(df['A'], 75)
max_A = df['A'].max()

mean_B = df['B'].mean()
std_B = df['B'].std()
min_B = df['B'].min()
percentile_25_B = np.percentile(df['B'], 25)
median_B = df['B'].median()
percentile_75_B = np.percentile(df['B'], 75)
max_B = df['B'].max()

print(f"Column A: mean={mean_A}, std={std_A}, min={min_A}, 25%={percentile_25_A}, median={median_A}, 75%={percentile_75_A}, max={max_A}")
print(f"Column B: mean={mean_B}, std={std_B}, min={min_B}, 25%={percentile_25_B}, median={median_B}, 75%={percentile_75_B}, max={max_B}")

Column A: mean=3.0, std=1.5811388300841898, min=1, 25%=2.0, median=3.0, 75%=4.0, max=5
Column B: mean=30.0, std=15.811388300841896, min=10, 25%=20.0, median=30.0, 75%=40.0, max=50

In [ ]:
#実践7-3（一部応用）
'''まず以下でデータを作成してください。(作成コードに関して、dataframeを作成する過程は非常に実務でも重要ですので参考にしてください)
このデータフレームをIDで集約してください。集約する際、日付はカウント、スコアは平均にしてください。
集約は課題で利用したgroupbyを参考にしてください。ポイントは日付とスコアで違う集約方法ということです。'''
import pandas as pd
import numpy as np
import random
from datetime import datetime, timedelta

# 日付範囲を設定
start_date = datetime(2022, 1, 1)
end_date = start_date + timedelta(days=99)

# 日付データを生成
date_range = pd.date_range(start=start_date, end=end_date)

# idとscoreのデータを生成
data = {'day': [],
        'id': [],
        'score': []}

# ランダムなデータを生成
for date in date_range:
    for _ in range(4):  # idごとに4レコード生成
        data['day'].append(date)
        data['id'].append(random.choice(['A', 'B', 'C', 'D']))
        data['score'].append(random.randint(1, 100))

# DataFrameに変換
df = pd.DataFrame(data)

# 結果を表示
print(df)

# IDで集約
grouped_df = df.groupby('id').agg({
    'day': 'count',
    'score': 'mean'
})
grouped_df = grouped_df.reset_index()

print(grouped_df)

           day id  score
0   2022-01-01  D     13
1   2022-01-01  B     87
2   2022-01-01  D      2
3   2022-01-01  C     41
4   2022-01-02  A     40
..         ... ..    ...
395 2022-04-09  D     13
396 2022-04-10  A     82
397 2022-04-10  B      6
398 2022-04-10  C     16
399 2022-04-10  D     12

[400 rows x 3 columns]
  id  day      score
0  A  101  53.623762
1  B  118  48.966102
2  C   85  52.552941
3  D   96  57.041667

In [ ]:
#実践7-4
'''以下の問題1~5をqueryを用いて解いてください。
問題1: 年齢が30歳以上の人のデータを抽出してください。
問題2: 都市が'Tokyo'または'Osaka'の人のデータを抽出してください。
問題3: 給与が500,000円以上で、年齢が40歳未満の人のデータを抽出してください。
問題4: 名前が'A'で始まる人と、給与が700,000円以上の人のデータを抽出してください。（ヒント: startswith）
問題5: 名前の文字数が4文字以下で、年齢が25歳以上35歳以下の人のデータを抽出してください。
データは以下を用いてください。'''

# サンプルデータの作成
import pandas as pd
import numpy as np

# 乱数シード値の設定
np.random.seed(123)

# データフレームの作成
data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Hannah', 'Ivy', 'Jack'],
    'age': np.random.randint(20, 61, size=10),
    'city': ['Tokyo', 'Osaka', 'Nagoya', 'Fukuoka', 'Sapporo', 'Sendai', 'Hiroshima', 'Kobe', 'Kyoto', 'Yokohama'],
    'salary': np.random.randint(300000, 800001, size=10)
}

df = pd.DataFrame(data)



#問題１
result1 = df.query('age >= 30')
print(result1)

#問題2
result2 = df.query('city == "Tokyo" or city == "Osaka"')
print()
print(result2)

#問題３
result3 = df.query('salary >= 500000 and age < 40')
print()
print(result3)

#問題４
result4 = df.query('name.str.startswith("A") or salary >= 700000')
print()
print(result4)

#問題5
result5 = df.query('name.str.len() <= 4 and 25 <= age <= 35', engine='python')
print()
print(result5)

      name  age       city  salary
1      Bob   48      Osaka  464782
2  Charlie   54     Nagoya  496719
3    David   58    Fukuoka  532857
4      Eve   37    Sapporo  710963
5    Frank   39     Sendai  335662
6    Grace   42  Hiroshima  762077
7   Hannah   53       Kobe  527748
8      Ivy   52      Kyoto  708160

    name  age   city  salary
0  Alice   22  Tokyo  371200
1    Bob   48  Osaka  464782

  name  age     city  salary
4  Eve   37  Sapporo  710963

    name  age       city  salary
0  Alice   22      Tokyo  371200
4    Eve   37    Sapporo  710963
6  Grace   42  Hiroshima  762077
8    Ivy   52      Kyoto  708160

   name  age      city  salary
9  Jack   29  Yokohama  430256

In [ ]:
#実践7-5
'''上記の問題をquery以外で実現してください'''
# サンプルデータの作成
import pandas as pd
import numpy as np

# 乱数シード値の設定
np.random.seed(123)

# データフレームの作成
data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Hannah', 'Ivy', 'Jack'],
    'age': np.random.randint(20, 61, size=10),
    'city': ['Tokyo', 'Osaka', 'Nagoya', 'Fukuoka', 'Sapporo', 'Sendai', 'Hiroshima', 'Kobe', 'Kyoto', 'Yokohama'],
    'salary': np.random.randint(300000, 800001, size=10)
}

df = pd.DataFrame(data)



#問題１
result1 = df[df['age'] >= 30]
print(result1)

#問題2
result2 = df[df['city'].isin(['Tokyo', 'Osaka'])]
print()
print(result2)

#問題３
result3 = df[(df['salary'] >= 500000) & (df['age'] < 40)]
print()
print(result3)

#問題４
result4 = df[(df['name'].str.startswith('A')) | (df['salary'] >= 700000)]
print()
print(result4)

#問題5
result5 = df[(df['name'].str.len() <= 4) & (df['age'].between(25, 35))]
print()
print(result5)

      name  age       city  salary
1      Bob   48      Osaka  464782
2  Charlie   54     Nagoya  496719
3    David   58    Fukuoka  532857
4      Eve   37    Sapporo  710963
5    Frank   39     Sendai  335662
6    Grace   42  Hiroshima  762077
7   Hannah   53       Kobe  527748
8      Ivy   52      Kyoto  708160

    name  age   city  salary
0  Alice   22  Tokyo  371200
1    Bob   48  Osaka  464782

  name  age     city  salary
4  Eve   37  Sapporo  710963

    name  age       city  salary
0  Alice   22      Tokyo  371200
4    Eve   37    Sapporo  710963
6  Grace   42  Hiroshima  762077
8    Ivy   52      Kyoto  708160

   name  age      city  salary
9  Jack   29  Yokohama  430256

In [ ]:
#実践7-6（応用: 分析の一連のシーケンス）

     ID      Name  Age  Salary
0     1    Name_1   30   73230
1     2    Name_2   28   56003
2     3    Name_3   52   73450
3     4    Name_4   45   49462
4     5    Name_5   55   72970
..  ...       ...  ...     ...
95   96   Name_96   58   72385
96   97   Name_97   57   59341
97   98   Name_98   34   33273
98   99   Name_99   37   45539
99  100  Name_100   57   57414

[100 rows x 4 columns]

In [ ]:
#実践7-7 (numpy, pandas)
'''pandas の dataframe を numpy の ndarray へ変換してください。
その逆も実施してください。dataframe から numpy への変換は調査してみてください。'''
import pandas as pd
import numpy as np

# サンプルデータを作成
data = {
    'A': [1, 2, 3, 4, 5],
    'B': [10, 20, 30, 40, 50]
}
df = pd.DataFrame(data)

array = df.values

print("DataFrame:")
print(df)
print("\nNumPyのndarray:")
print(array)


df_from_array = pd.DataFrame(array, columns=['A', 'B'])

print("\nNumPyのndarrayから作成したDataFrame:")
print(df_from_array)

DataFrame:
   A   B
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50

NumPyのndarray:
[[ 1 10]
 [ 2 20]
 [ 3 30]
 [ 4 40]
 [ 5 50]]

NumPyのndarrayから作成したDataFrame:
   A   B
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50

In [ ]:
#実践7-8 (read_csv)
'''pd.read_csvでcsvファイルを読み込む際、カラムの型をdtypeで指定できます。実際に指定して読み込んでください。

例: df = pd.read_csv(csv_file, dtype=dtype_dict)

上記のdtype_dictを辞書型で指定する。一部調査してみてください。実務ではdtypeの指定は頻繁に利用します。
参考) pandasで指定する一般的な型

int64: 整数型 float64: 浮動小数点型 bool: 真理値型 object: 文字列型 datetime64 または timedelta[ns]: 日時型
# カラムごとにデータ型を指定してCSVファイルを読み込む
# dtypeを指定することで、各列のデータ型を明示的に設定できる'''


dtype = {
    'ID': 'int',       # 整数型
    'Name': 'str',     # 文字列型
    'Age': 'int',      # 整数型
    'Salary': 'float'  # 浮動小数点型
}

df = pd.read_csv(csv_file, dtype=dtype)
print(df)

In [ ]:
#実践7-9(None)
'''pandasでNone/np.nanを含むdataframeを定義してください。
そのdataframeを利用し、queryとdf[df[””]=...]のどちらでもNone/np.nanを含むレコードのみを抽出してください。
 (単純に実施してもqueryではフィルタリングできません。調査してみてください。)'''
import pandas as pd
import numpy as np

data = {
    'A': [1, None, 3, 4, 5],
    'B': [10, 20, None, 40, 50],
    'C': [100, 200, 300, None, 500]
}

df = pd.DataFrame(data)

print("DataFrame:")
print(df)

filtered_query = df.query('A == A and B == B and C == C')
print()
print(filtered_query)
print()

filtered_indexing = df[df.isna().any(axis=1)]
print(filtered_indexing)

DataFrame:
     A     B      C
0  1.0  10.0  100.0
1  NaN  20.0  200.0
2  3.0   NaN  300.0
3  4.0  40.0    NaN
4  5.0  50.0  500.0

     A     B      C
0  1.0  10.0  100.0
4  5.0  50.0  500.0

     A     B      C
1  NaN  20.0  200.0
2  3.0   NaN  300.0
3  4.0  40.0    NaN

In [ ]:
#実践7-10(クロス集計): 応用
'''(テキスト外) pandasの機能であるcrosstabを調査してみましょう。本機能で何ができるか確認し説明してください。
crosstab: https://pandas.pydata.org/docs/reference/api/pandas.crosstab.html
(応用: 余力があれば)上記のクロス集計結果を実施しSeabornのheatmapで可視化してください。'''

pandasのcrosstab関数は、クロス集計（クロスタブ）を行うための機能
。クロス集計は、2つ以上のカテゴリ変数（質的データ）の組み合わせにおいて、クロス集計表を作成することで、
それぞれのカテゴリ変数の組み合わせに対する度数や集計結果を見ることができます。